---
title: Review and streamline data management
---

<div class="govuk-main-wrapper">
  <div class="dfe-width-container govuk-grid-row two-column-page content-section--purple">
    <div class="govuk-grid-column-two-thirds">
      <div class="dfe-width-container govuk-grid-row">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Review and streamline data management</h1>
        <div class="dfe-width-container govuk-grid-row govuk-!-margin-bottom-7">
          <strong class="govuk-tag">Presentation</strong>
        </div>
        <div class="dfe-width-container govuk-grid-row">
          <p>
            Use this presentation in a staff meeting or INSET day to review and streamline your data management processes. 
          </p>
          <p>
            The presentation includes:
          <ul>
            <li>
              background and context
            </li>
            <li>
              a discussion to understand better why data is collected and how collections can be streamlined or stopped altogether
            </li>
            <li>
              a further discussion to decide what data is collected and not collected in future
            </li>
          </ul>
          </p>
        </div>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <div class="govuk-grid-row dfe-width-container">
          <div class="govuk-grid-column-full">
            <div class="info-box">
              <div class="info-box__corner">
                <img src="/assets/images/download-icon.svg" alt="Download icon">
              </div>
              <h2 class="govuk-heading-m">
                Download the presentation
              </h2>
              <div class="govuk-grid-row info-box__download-content">
                <div class="govuk-grid-column-one-half">
                  <img src="/assets/images/data-management--review-and-streamline-data-management.jpg" alt="Review and streamline data management" class="dfe-file-preview-image">
                </div>
                <div class="govuk-grid-column-one-half">
                 <a class="govuk-link--no-visited-state govuk-body" href="<%= @base_url %>/assets/files/Review and streamline data management.pptx">
                   Download Microsoft PowerPoint
                 </a>
                 <p>
                   PPTX, 114KB, 9 slides
                 </p>
                 <a class="govuk-link--no-visited-state govuk-body" href="<%= @base_url %>/assets/files/Review and streamline data management.odp">
                   Download OpenDocument Presentation
                 </a>
                 <p>
                  ODP, 119KB, 9 slides
                </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-7">
          Audience
        </h2>

        <p>
          The presentation has been provided for senior leadership teams to run with the whole school, teams or departments.
        </p>
        <p>
          It could also be an exercise just for senior leadership, with the results shared and discussed with staff.
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          Presentation length
        </h2>

        <p>
          The presentation should take 1 hour. You should also allocate time for
          the facilitator to prepare the session for use in your school.
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          How to run with your staff
        </h2>

        <p>
          You could complete the exercises individually or in teams, before discussing them together or communicating to the wider school.
        </p>
        <p>
          Senior leadership teams are likely to want to oversee the process. They could also consider if it is more appropriate for another member of staff to facilitate the session and lead on follow-up, for example, a head of department.
        </p>
        <p>
          You might also wish to consider asking somebody independent to facilitate the workshop to free up time to take part.
        </p>
        <p>

        </p>
        <p>
          Provide a supportive environment for open and honest professional
          dialogue.
        </p>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
          Supporting resources
        </h2>

        <ul class="resource-card-group">
          <%= render('/partials/resource_card.*', title: "Data collection audit" ,
            href: "#{@base_url}/assets/files/Data collection audit.odt" ,
            body: "An audit template to help you review how you collect data." ,
            tag: "Template" , download_link: true) %>
        </ul>
      </div>

      <div class="dfe-width-container govuk-grid-row govuk-!-margin-top-6">
        <%= render '/partials/share_this_resource.*' %>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break--thick govuk-section-break-feedback">
      <%= render '/partials/feedback.*', colour: "purple" %>
    </div>
  </div>
</div>

