---
title: Home
---

<div class="dfe-content-page--header">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Improve workload and wellbeing for school staff</h1>
        <p class="govuk-body-l">Promote staff wellbeing and support workload reduction in your school with free
          resources
          that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>are produced by school leaders, for school leaders</li>
          <li>support what you’re already doing</li>
          <li>can be adapted to work in your school</li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <img src="<%= @base_url %>/assets/images/home-hero.jpg"
          alt="Teacher smiling and talking with two students in a classroom" class="dfe-hero-image">
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="dfe-card-container">
          <%= render('/partials/tile.*', title: "Workload reduction toolkit",
            body: "Support workload reduction with resources produced by school leaders.",
            href: "#{@base_url}/workload-reduction-toolkit",
            colour: "blue"
          ) %>

          <%= render('/partials/tile.*', title: "Staff wellbeing",
            body: "Promote a wellbeing culture with resources made by school leaders. Sign up to the education staff wellbeing charter and find out how to support staff mental health in your school.",
            href: "#{@base_url}/staff-wellbeing",
            colour: "blue"
          ) %>

          <%= render('/partials/tile.*', title: "Flexible working toolkit",
            body: "Develop and implement a flexible working policy, strategic approach, and effective practice.",
            href: "#{@base_url}/flexible-working-toolkit",
            colour: "blue"
          ) %>
        </div>
      </div>
    </div>
  </div>

  <div class="dfe-content-page--row">
    <div class="govuk-grid-row dfe-width-container">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
          Explore all resources
        </h2>
        <p class="govuk-body">
          Browse through all our staff wellbeing and workload reduction
          resources. They are contributed by school leaders from their
          experiences improving workload and wellbeing in their schools.
        </p>
        <a class="govuk-button govuk-button--blue govuk-!-margin-top-1 govuk-!-margin-bottom-0" data-module="govuk-button"
          href="<%= @base_url %>/explore-all-resources/identify-workload-issues">
          Explore all resources
        </a>
      </div>
    </div>
  </div>

  <div class="dfe-width-container govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-full">
      <%= render '/partials/feedback.*' %>
    </div>
  </div>
</div>
