---
title: Home
---

<div class="dfe-content-page--header">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl"></span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Improve workload and wellbeing for school staff</h1>
        <p class="govuk-body-l">Promote staff wellbeing and support workload reduction in your school with free
          resources
          that:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>are produced by school leaders, for school leaders</li>
          <li>support what you're already doing</li>
          <li>can be adapted to work in your school</li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <img src="<%= @base_url %>/assets/images/home-hero.jpg"
          alt="Teacher smiling and talking with two students in a classroom" class="dfe-hero-image">
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <div class="govuk-width-container dfe-width-container">
    <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-half card-group__item">
        <a class="dfe-card dfe-card--clickable govuk-link--no-visited-state" href="<%= @base_url %>/staff-wellbeing">
          <p class="govuk-body-l dfe-card-header">
            Staff wellbeing
          </p>
          <div class="dfe-card-body">
            <p class="govuk-body">Promote a culture of wellbeing with resources made by school leaders.</p>
          </div>
        </a>
      </li>

      <li class="govuk-grid-column-one-half card-group__item">
        <a class="dfe-card dfe-card--clickable govuk-link--no-visited-state" href="<%= @base_url %>/workload-reduction-toolkit">
          <p class=" govuk-body-l dfe-card-header">Workload reduction</p>
          <div class="dfe-card-body">
            <p class="govuk-body">Support workload reduction with resources produced by school leaders.</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="dfe-content-page--row">
  <div class="govuk-grid-row govuk-width-container dfe-width-container">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Explore all resources</h2>
      <p class="govuk-body">Browse through all our staff wellbeing and workload reduction resources. They are
        contributed by school leaders from their experiences improving workload and wellbeing in their schools.</p>
      <a class="govuk-button govuk-!-margin-top-2 govuk-!-font-weight-bold" data-module="govuk-button"
        href="<%= @base_url %>/explore-all-resources/identify-workload-issues">
        Explore all resources
      </a>
    </div>
  </div>
</div>

<div class="dfe-width-container govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-full">
    <%= render '/partials/feedback.*' %>
  </div>
</div>
