---
title: Staff wellbeing
---

<div class="dfe-content-page--header dfe-content-page--header--secondary">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Staff wellbeing</h1>
        <p class="govuk-body dfe-body-wrapped-text">
          Promote a culture of wellbeing in your school and make a shared commitment to the education staff wellbeing
          charter.
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <img src="<%= @base_url %>/assets/images/wellbeing-hero.jpg"
          alt="Two teachers talking to each other on a sofa in a staff room" class="dfe-hero-image">
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">

    <div class="govuk-grid-row two-column-page content-section--blue">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-grid-row dfe-width-container">
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>

        <div class="govuk-grid-row dfe-width-container govuk-!-padding-bottom-6">
          <div class="info-box">
            <div class="info-box__corner">
              <img src="<%= @base_url %>/assets/images/i-icon.svg" alt="info icon">
            </div>
            <h2 class="govuk-heading-m">
              How to use this section
            </h2>
            <p class="govuk-body">
              Placing staff wellbeing at the centre of everything you do will have positive consequences in all aspects
              of school life.
            </p>
            <p class="govuk-body">
              The resources provide specific examples which have worked in schools. You can use them as they are, or
              adapt them to meet the needs of your school.
            </p>
          </div>
        </div>

        <div class="govuk-grid-row dfe-width-container  govuk-!-padding-bottom-0">
          <h2 class="govuk-heading-m">Resources to help set a wellbeing vision</h2>
        </div>

        <div class="govuk-grid-row dfe-width-container govuk-!-margin-bottom-3">
          <ul class="resource-card-group">
            <%= render('/partials/resource_card.*', title: "Create a school culture which improves wellbeing" , href: "#{@base_url}/staff-wellbeing/create-a-school-culture-which-improves-wellbeing" ,
              body: "Learn how to develop a school culture of wellbeing and workload improvement." , tag: "Case study",
              details: { reading_time: "4 minutes" , created_by: "Kensington Primary School" }) %>

            <%= render('/partials/resource_card.*', title: "Academy trust workload agreement" , href: "#{@base_url}/staff-wellbeing/academy-trust-workload-agreement" ,
              body: "Share what teachers can expect in terms of workload, professional development, pay and rewards.",
              tag: "Example" , details: { reading_time: "2 minutes" , created_by: "Ascent Multi-Academy trust" }) %>

            <%= render('/partials/resource_card.*', title: "Staff wellbeing policy" , href: "#{@base_url}/staff-wellbeing/staff-wellbeing-policy" ,
                body: "Read a staff wellbeing policy that reflects a whole school approach to wellbeing." ,
                tag: "Example" , details: { reading_time: "6 minutes" , created_by: "The Pingle Academy (Secondary)" }) %>

            <%= render('/partials/resource_card.*', title: "Staff wellbeing statement" ,
                href: "#{@base_url}/staff-wellbeing/staff-wellbeing-statement" , body: "Read a wellbeing statement developed to support school staff effectively." ,
                tag: "Example" , details: { reading_time: "3 minutes", created_by: "St. Peter's School (Secondary)" }) %>
          </ul>
        </div>

        <div class="govuk-grid-row dfe-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-0">
          <h2 class="govuk-heading-m">Resources to support communications on wellbeing</h2>
        </div>

        <div class="govuk-grid-row dfe-width-container">
          <ul class="resource-card-group">

            <%= render('/partials/resource_card.*', title: "Establish a wellbeing committee" , href: "#{@base_url}/staff-wellbeing/establish-a-wellbeing-committee",
              body: "Learn how to set up a wellbeing committee." , tag: "Example",
              details: { reading_time: "3 minutes", created_by: "Notre Dame High School" }) %>

            <%= render('/partials/resource_card.*', title: "Establish a school workload group" , href: "#{@base_url}/staff-wellbeing/establish-a-school-workload-group" ,
              body: "Learn how to set up a workload group." , tag: "Example" , details: { reading_time: "3 minutes" ,
              created_by: "Baylis Court School (Secondary)" }) %>

            <%= render('/partials/resource_card.*', title: "Communicate about wellbeing to improve staff retention" ,
              href: "#{@base_url}/staff-wellbeing/communicate-about-wellbeing-to-improve-staff-retention" , body: "Learn how communication improved staff retention." , tag: "Case study" ,
              details: { reading_time: "3 minutes" , created_by: "Bedford Academy (Secondary)" }) %>

          </ul>
        </div>

        <div class="govuk-grid-row dfe-width-container govuk-!-padding-top-6 govuk-!-padding-bottom-0">
          <h2 class="govuk-heading-m">Resources to help you take action</h2>
        </div>

        <div class="govuk-grid-row dfe-width-container">
          <ul class="resource-card-group">

            <%= render('/partials/resource_card.*', title: "Protect staff time and improve wellbeing" , href: "#{@base_url}/staff-wellbeing/protect-staff-time-and-improvement-wellbeing" ,
              body: "Read tips on using time effectively to improve wellbeing." , tag: "Case study" , details: {
              reading_time: "2 minutes" , created_by: "West Meon CofE Primary School" }) %>

           <%= render('/partials/resource_card.*', title: "Try ideas to improve staff wellbeing" , href: "#{@base_url}/staff-wellbeing/try-ideas-to-improve-staff-wellbeing" ,
              body: "Read advice and tips on improving staff wellbeing." , tag: "Case study" , details: {
              reading_time: "2 minutes" , created_by: "King Charles I Secondary School" }) %>

           <%= render('/partials/resource_card.*', title: "Make a list of everything you do to improve wellbeing" , href: "#{@base_url}/staff-wellbeing/make-a-list-of-everything-you-do-to-improve-wellbeing" ,
              body: "Read how a school reflects on everything they do to reduce workload and improve wellbeing." , tag: "Case study" , details: {
              reading_time: "3 minutes" , created_by: "Barr Beacon School (Secondary)" }) %>
          </ul>
        </div>
      </div>
      <div class="govuk-grid-column-one-third govuk-!-padding-top-0">
        <hr class="govuk-section-break--blue govuk-section-break--thick govuk-!-margin-top-6">

        <div class="govuk-grid-row dfe-width-container govuk-!-padding-bottom-6">
          <h2 class="govuk-heading-m">Promote wellbeing and flexible working in your school</h2>
        </div>

        <div class="govuk-grid-row dfe-width-container govuk-!-padding-bottom-6">
          <p class="govuk-body">
            <a href="https://www.gov.uk/guidance/education-staff-wellbeing-charter">Education staff wellbeing
              charter</a>
          </p>
          <p class="govuk-body">
            <a href="https://www.gov.uk/guidance/get-help-with-flexible-working-in-schools">Flexible working toolkit</a>
          </p>
          <p class="govuk-body">
            <a href="<%= @base_url %>/staff-wellbeing/supporting-staff-mental-health">Supporting staff mental health in schools</a>
          </p>
        </div>

        <hr class="govuk-section-break--blue govuk-section-break--thick">

        <%= render '/partials/feedback.*' %>
      </div>
    </div>
  </div>
</div>
