---
title: Staff wellbeing
---

<div class="dfe-content-page--header dfe-content-page--header--secondary">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Staff wellbeing</h1>
        <p class="govuk-body dfe-body-wrapped-text">
          Promote a culture of wellbeing in your school and sign up to the
          <a href="https://www.gov.uk/guidance/education-staff-wellbeing-charter">education staff wellbeing charter</a>.
          The charter is a set of shared commitments from government, Ofsted, schools and colleges to protect and
          promote the wellbeing of staff.
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <img src="<%= @base_url %>/assets/images/wellbeing-hero.jpg"
          alt="Two teachers talking to each other on a sofa in a staff room" class="dfe-hero-image">
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full grid grid-template-columns-mobile-1 grid-template-columns-tablet-2">
        <%= render('/partials/tile.*',
          title: "Set a wellbeing vision",
          body: "Use these resources to create a culture that supports wellbeing",
          href: "#{@base_url}/staff-wellbeing/set-a-wellbeing-vision",
          colour: "pink"
        ) %>

        <%= render('/partials/tile.*',
          title: "Address wellbeing issues",
          body: "Take action to address wellbeing issues",
          href: "#{@base_url}/staff-wellbeing/address-wellbeing",
          colour: "purple"
        ) %>

        <%= render('/partials/tile.*',
          title: "Communicate about wellbeing",
          body: "Use these resources to build communications about wellbeing issues",
          href: "#{@base_url}/staff-wellbeing/communicate-about-wellbeing",
          colour: "green"
        ) %>

        <%= render('/partials/tile.*',
          title: "Support staff mental health in schools",
          body: "Learn about different tools available to you to support staff mental health and pick the ones that fit best for your setting.",
          href: "#{@base_url}/staff-wellbeing/supporting-staff-mental-health",
          colour: "blue"
        ) %>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break--visible govuk-!-margin-bottom-9">
        <%= render '/partials/feedback.*' %>
      </div>
    </div>
  </div>
</div>
