---
title: Workload reduction toolkit
---

<div class="dfe-content-page--header dfe-content-page--header--secondary">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Workload reduction toolkit</h1>
        <p>
          Access workload reduction resources produced by school leaders, for
          school leaders. Learn how they addressed workload issues and save time
          when addressing those issues in your school.
        </p>
        <p class="govuk-!-font-weight-bold">
          <a href="<%= @base_url %>/workload-reduction-toolkit/how-the-toolkit-was-made">
            Learn how the toolkit was made and tested
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <img src="<%= @base_url %>/assets/images/toolkit-hero.jpg"
          alt="Two teachers talking to each other on a sofa in a staff room" class="dfe-hero-image">
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-m">Use the toolkit</h2>
      </div>
    </div>

    <ul class="govuk-grid-row card-group govuk-!-margin-bottom-9">
      <li class="govuk-grid-column-one-third card-group__item">
        <%= render('/partials/tile.*', title: "Identify workload issues",
          body: "Identify workload issues and prioritise where to act",
          href: "#{@base_url}/workload-reduction-toolkit/identify-workload-issues",
          colour: "pink"
        ) %>
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
        <%= render('/partials/tile.*', title: "Address workload issues",
          body: "Take action to reduce workload",
          href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues",
          colour: "purple"
        ) %>
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
        <%= render('/partials/tile.*', title: "Evaluate workload measures",
          body: "Track and evaluate workload reduction measures",
          href: "#{@base_url}/workload-reduction-toolkit/evaluate-workload-measures",
          colour: "green"
        ) %>
      </li>
    </ul>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break--visible govuk-!-margin-bottom-9">
        <%= render '/partials/feedback.*' %>
      </div>
    </div>
  </div>
</div>
