---
title: Workload reduction toolkit
---

<div class="dfe-content-page--header dfe-content-page--header--secondary">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-0">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-4">Workload reduction toolkit</h1>
        <p class="govuk-body">
          Access workload reduction resources produced by school leaders, for
          school leaders. Learn how they addressed workload issues and save time
          when addressing those issues in your school.
        </p>
        <p class="govuk-body govuk-!-font-weight-bold">
          <a href="<%= @base_url %>/workload-reduction-toolkit/how-the-toolkit-was-made">
            Learn how the toolkit was made and tested
          </a>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <img src="<%= @base_url %>/assets/images/toolkit-hero.jpg"
          alt="Two teachers talking to each other on a sofa in a staff room" class="dfe-hero-image">
      </div>
    </div>
  </div>
</div>

<div class="govuk-main-wrapper">
  <div class="dfe-width-container">
    <div class="govuk-grid-row govuk-width-container">
      <h2 class="govuk-heading-m">Use the toolkit</h2>
    </div>

    <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-third card-group__item">
        <a class="dfe-card dfe-card--pink dfe-card--clickable govuk-link--no-visited-state" href="<%= @base_url %>/workload-reduction-toolkit/identify-workload-issues">
          <div class="dfe-card-content">
            <h3 class="dfe-card-header govuk-body">
              Identify workload issues
            </h3>
            <div class="dfe-card-body">
              <p class="govuk-body">
                Identify workload issues and prioritise where to act
              </p>
            </div>
          </div>
          <svg class="dfe-card__chevron" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#ffffff" stroke-width="2"/>
          </svg>
        </a>
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
        <a class="dfe-card dfe-card--purple dfe-card--clickable govuk-link--no-visited-state" href="<%= @base_url %>/workload-reduction-toolkit/address-workload-issues">
          <div class="dfe-card-content">
            <h3 class="dfe-card-header govuk-body">
              Address workload issues
            </h3>
            <div class="dfe-card-body">
              <p class="govuk-body">
                Take action to reduce workload
              </p>
            </div>
          </div>
          <svg class="dfe-card__chevron" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#ffffff" stroke-width="2"/>
          </svg>
        </a>
      </li>

      <li class="govuk-grid-column-one-third card-group__item">
        <a class="dfe-card dfe-card--green dfe-card--clickable govuk-link--no-visited-state" href="<%= @base_url %>/workload-reduction-toolkit/evaluate-workload-measures">
          <div class="dfe-card-content">
            <h3 class="dfe-card-header govuk-body">
              Evaluate workload measures
            </h3>
            <div class="dfe-card-body">
              <p class="govuk-body">
                Track and evaluate workload reduction measures
              </p>
            </div>
          </div>
          <svg class="dfe-card__chevron" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 4.49992L20.0217 15.5213L9 26.5427" stroke="#ffffff" stroke-width="2"/>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="govuk-grid-row dfe-width-container">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>
</div>

<div class="dfe-width-container govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-full">
    <%= render '/partials/feedback.*' %>
  </div>
</div>
