---
title: Address workload issues
---

<div class="govuk-main-wrapper">
  <div class="dfe-width-container govuk-grid-row govuk-!-padding-top-6">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Address workload issues</h1>
    </div>
  </div>

  <div class="dfe-width-container govuk-grid-row govuk-!-padding-bottom-9">
    <div class="govuk-grid-column-one-half">
      <p class="govuk-body">
        This section of the toolkit has groups of resources to address specific
        workload issues.
      </p>
    </div>
  </div>

  <div class="content__section--grey">
    <div class="dfe-width-container">
      <ul class="govuk-grid-row card-group">
        <%= render('/partials/icon_card.*', text: "Data management", href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues")%>
        <%= render('/partials/icon_card.*', text: "Feedback and marking", href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues")%>
        <%= render('/partials/icon_card.*', text: "Curriculum planning and delivery", href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues")%>
        <%= render('/partials/icon_card.*', text: "Behaviour management", href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues")%>
        <%= render('/partials/icon_card.*', text: "Communications", href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/communications")%>
      </ul>
    </div>
  </div>
</div>

<%= render '/partials/feedback.*' %>
