---
title: Evaluate workload measures
---

<div class="govuk-main-wrapper">
  <div class="dfe-width-container govuk-grid-row two-column-page">
    <div class="dfe-width-container govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Evaluate workload measures</h1>
        <p>
          These resources help you track and evaluate the impact of your
          workload reduction measures.
        </p>
        <p>
          Some school leaders add workload reduction as a key priority in their
          school improvement plans to monitor and evaluate progress.
        </p>
      </div>
    </div>
    
    <div class="dfe-width-container govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <hr class="govuk-section-break--thick">

        <div class="govuk-grid-row dfe-width-container content-section--green">
          <div class="info-box">
            <div class="info-box__corner">
              <img src="/assets/images/i-icon.svg" alt="info icon">
            </div>
            <h2 class="govuk-heading-m">
              How to use this section
            </h2>
            <p>
              You can use and adapt these resources to help monitor the impact
              of your workload reduction measures. Evaluation methods can
              include:
            </p>
            <p>
              <ul>
                <li>conducting surveys with school staff, pupils, parents and carers</li>
                <li>reviewing the results of pupils</li>
                <li>trialling different teaching approaches with parallel classes</li>
              </ul>
            </p>
            <p>
              As a senior leadership team, you could use these resources to
              provide regular feedback to school staff and governors.
            </p>
          </div>
        </div>

        <div class="dfe-width-container govuk-grid-row">
          <h2 class="govuk-heading-m">
            Tools to help evaluate workload reduction measures
          </h2>

          <ul class="resource-card-group">
            <%= render('/partials/resource_card.*',
              title: "Evaluate impact using a staff workload survey",
              href: "TBC",
              body: "Gather feedback from staff and teachers about your workload reduction measures.",
              tag: "Template") %>

            <%= render('/partials/resource_card.*',
              title: "Evaluate progress with staff",
              href: "TBC",
              body: "Show staff the actions you took to address workload issues and gather feedback.",
              tag: "Template") %>

            <%= render('/partials/resource_card.*',
              title: "Have structured conversations with staff to evaluate outcomes",
              href: "TBC",
              body: "Talk to staff and teachers about their biggest workload issues.",
              tag: "Template") %>

            <%= render('/partials/resource_card.*',
              title: "Update your workload action plan",
              href: "TBC",
              body: "Evaluate the actions you took to reduce workload in your school.",
              tag: "Template",
              details: { reading_time: "1 minute", created_by: "Notre Dame High School"}) %>
          </ul>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break--blue govuk-section-break--thick">
        <%= render '/partials/feedback.*' %>
      </div> 
    </div>
  </div>
</div>
