---
title: Communications
---

<div class="govuk-main-wrapper">
  <div class="dfe-width-container govuk-grid-row workload-area-page">
    <div class="govuk-grid-column-two-thirds">
      <div class="dfe-width-container govuk-grid-row">
        <h1 class="govuk-heading-l">Communications</h1>

        <div class="dfe-width-container govuk-grid-row">
          <p class="govuk-body">
            These resources are designed to help you address workload issues with
            communications in your school.
          </p>
        </div>
      </div>
    </div>

    <div class="govuk-grid-column-two-thirds">
      <hr class="govuk-section-break--thick">

      <div class="govuk-grid-row dfe-width-container">
        <div class="info-box">
          <div class="info-box__corner">
            <img src="/assets/images/i-icon.svg" alt="info icon">
          </div>
          <h2 class="govuk-heading-m">
            How to use this section
          </h2>
          <p class="govuk-body">
            You can use the resources as they are or adapt them to meet the
            needs of your school.
          </p>
          <p class="govuk-body">
            The presentation is designed to enable safe discussion with your
            staff in a staff meeting or INSET day. You can use it to identify
            which issues with communications workload to prioritise, update,
            streamline or stop completely.
          </p>
        </div>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <h2 class="govuk-heading-m">
          Resources to help communications workload
        </h2>
      </div>

      <div class="dfe-width-container govuk-grid-row">
        <ul class="resource-card-group">
          <%= render('/partials/resource_card.*',
            title: "Communications presentation",
            href: "#",
            body: "Review communications processes with your staff.",
            tag: "Presentation")%>

          <%= render('/partials/resource_card.*',
            title: "Example communications policy",
            href: "#",
            body: "Develop a communications policy for parental engagement.",
            tag: "Example",
            details: { reading_time: "6 minutes", created_by: "St Edward's RC/CoE School (Secondary)" } )%>

          <%= render('/partials/resource_card.*',
            title: "Example school email protocol",
            href: "#",
            body: "Develop an email protocol by reviewing the range of information sent by email.",
            tag: "Example",
            details: { reading_time: "3 minutes", created_by: "St Edward's RC/CoE School (Secondary)" } )%>

          <%= render('/partials/resource_card.*',
            title: "Switching to online parents’ evenings",
            href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/communications/switching-to-online-parents-evenings",
            body: "Develop an email protocol by reviewing the range of information sent by email.",
            tag: "Example",
            details: { reading_time: "8 minutes", created_by: "Prince Henry Grammar School (Secondary)" } )%>

          <%= render('/partials/resource_card.*',
            title: "Streamlining internal school communications",
            href: "#",
            body: "A case study showing how to reduce workload by streaming internal communications.",
            tag: "Case study",
            details: { reading_time: "9 minutes", created_by: "Hilltop Infant School" } )%>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break--blue govuk-section-break--thick">

      <%= render '/partials/feedback.*' %>
    </div>
  </div>
</div>
