<div class="topic-list">
  <h2 class="govuk-heading-m">Topics</h2>
  <ul class="govuk-list">
    <li
      class="<%= active == 'identify-workload-issues' ? 'topic-list__item-active' : 'topic-list__item' %>"
    >
      <a
        class="govuk-link govuk-link--no-visited-state"
        href="<%= base_url %>/explore-all-resources/identify-workload-issues"
      >
        Identify workload issues
      </a>
    </li>
    <li
      class="<%= active == 'data-management' ? 'topic-list__item-active' : 'topic-list__item' %>"
    >
      <a
        class="govuk-link govuk-link--no-visited-state"
        href="<%= base_url %>/explore-all-resources/data-management"
      >
        Data management
      </a>
    </li>
    <li
      class="<%= active == 'feedback-and-marking' ? 'topic-list__item-active' : 'topic-list__item' %>"
    >
      <a
        class="govuk-link govuk-link--no-visited-state"
        href="<%= base_url %>/explore-all-resources/feedback-and-marking"
      >
        Feedback and marking
      </a>
    </li>
    <li
      class="<%= active == 'curriculum-planning-and-delivery' ? 'topic-list__item-active' : 'topic-list__item' %>"
    >
      <a
        class="govuk-link govuk-link--no-visited-state"
        href="<%= base_url %>/explore-all-resources/curriculum-planning-and-delivery"
      >
        Curriculum planning and delivery
      </a>
    </li>
    <li
      class="<%= active == 'behaviour-management' ? 'topic-list__item-active' : 'topic-list__item' %>"
    >
      <a
        class="govuk-link govuk-link--no-visited-state"
        href="<%= base_url %>/explore-all-resources/behaviour-management"
      >
        Behaviour management
      </a>
    </li>
    <li
      class="<%= active == 'communications' ? 'topic-list__item-active' : 'topic-list__item' %>"
    >
      <a
        class="govuk-link govuk-link--no-visited-state"
        href="<%= base_url %>/explore-all-resources/communications"
      >
        Communications
      </a>
    </li>
    <li
      class="<%= active == 'evaluate-workload-measures' ? 'topic-list__item-active' : 'topic-list__item' %>"
    >
      <a
        class="govuk-link govuk-link--no-visited-state"
        href="<%= base_url %>/explore-all-resources/evaluate-workload-measures"
      >
        Evaluate workload measures
      </a>
    </li>
    <li
      class="<%= active == 'staff-wellbeing' ? 'topic-list__item-active' : 'topic-list__item' %>"
    >
      <a
        class="govuk-link govuk-link--no-visited-state"
        href="<%= base_url %>/explore-all-resources/staff-wellbeing"
      >
        Staff wellbeing
      </a>
    </li>
    <li class="<%= active == 'attendance' ? 'topic-list__item-active' : 'topic-list__item' %>">
      <a class="govuk-link govuk-link--no-visited-state" href="<%= base_url %>/explore-all-resources/attendance">
        Attendance
      </a>
    </li>
    <li class="<%= active == 'governance' ? 'topic-list__item-active' : 'topic-list__item' %>">
      <a class="govuk-link govuk-link--no-visited-state" href="<%= base_url %>/explore-all-resources/governance">
        Governance
      </a>
    </li>
  </ul>
</div>
