<% wrapped_content=capture do %>
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row govuk-width-container dfe-width-container markdown-resource content-section--<%= @item[:colour] ?  @item[:colour] : 'purple' %> two-column-page">
      <div class="govuk-grid-column-two-thirds">
        <%= yield %>
        <%= render '/partials/share_this_resource.*' %>
      </div>
      <div class="govuk-grid-column-one-third">
        <hr class="govuk-section-break--thick govuk-section-break-feedback">
        <%= render('/partials/feedback.*', colour: @item[:colour] || "purple") %>
      </div>
    </div>
  </div>
<% end %>

<%= render '/default.html.erb' , content: wrapped_content %>
