---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "communications")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Communications presentation",
    href: "#",
    tag:  "Communications",
    tag_colour: "purple",
    details: {
      resource_type: "Presentation"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Parental communications policy",
    href:  "#{@base_url}/workload-reduction-toolkit/address-workload-issues/communications/parental-communications-policy",
    tag:  "Communications",
    tag_colour: "purple",
    details: {
      resource_type: "Example",
      reading_time: "6 minutes",
      created_by: "St Edwards RC/CoE School (Secondary)"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "School email protocol",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/communications/school-email-protocol",
    tag:  "Communications",
    tag_colour: "purple",
    details: {
      resource_type: "Template",
      reading_time: "10 minutes",
      created_by: "St Edwards RC/CoE School (Secondary)"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Switch to online parents’ evenings",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/communications/switch-to-online-parents-evenings",
    tag:  "Communications",
    tag_colour: "purple",
    details: {
      resource_type: "Example",
      reading_time: "8 minutes",
      created_by: "Prince Henry Grammar School (Secondary)"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Streamline internal school communications",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/communications/streamline-internal-school-communications",
    tag:  "Communications",
    tag_colour: "purple",
    details: {
      resource_type: "Case study",
      reading_time: "9 minutes",
      created_by: "Hilltop Infant School"
    }
  )%>
</div>
