---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "curriculum-planning-and-delivery")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Review and streamline lesson planning",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/curriculum-planning-and-delivery/review-and-streamline-lesson-planning",
    tag:  "Curriculum planning and delivery",
    tag_colour: "purple",
    details: {
      resource_type: "Presentation"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Use time effectively and work together when planning your curriculum",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/curriculum-planning-and-delivery/use-time-effectively",
    tag:  "Curriculum planning and delivery",
    tag_colour: "purple",
    details: {
      resource_type: "Case study",
      reading_time: "2 minutes",
      created_by: "West Meon CofE Primary School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Try ideas to manage planning and curriculum workload",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/curriculum-planning-and-delivery/try-ideas-to-manage-planning",
    tag:  "Curriculum planning and delivery",
    tag_colour: "purple",
    details: {
      resource_type: "Case study",
      reading_time: "2 minutes",
      created_by: "King Charles I School (Secondary)"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Change lesson observations to class visits",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/curriculum-planning-and-delivery/change-lesson-observations-to-class-visits",
    tag:  "Curriculum planning and delivery",
    tag_colour: "purple",
    details: {
      resource_type: "Example",
      reading_time: "6 minutes",
      created_by: "Harehills Primary School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Develop a culture of support and staff development",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/curriculum-planning-and-delivery/develop-a-culture-of-support-and-staff-development",
    tag:  "Curriculum planning and delivery",
    tag_colour: "purple",
    details: {
      resource_type: "Case study",
      reading_time: "7 minutes",
      created_by: "Kensington Primary School"
    }
  )%>
</div>
