---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "evaluate-workload-measures")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Evaluate impact using a staff workload survey",
    href: "#{@base_url}/workload-reduction-toolkit/evaluate-workload-measures/staff-workload-survey",
    tag:  "Evaluate workload measures",
    tag_colour: "green",
    details: {
      resource_type: "Template"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Evaluate progress with staff",
    href: "#{@base_url}/workload-reduction-toolkit/evaluate-workload-measures/evaluate-progress-with-staff",
    tag:  "Evaluate workload measures",
    tag_colour: "green",
    details: {
      resource_type: "Template",
      reading_time: "1 minute"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Have structured conversations with staff to evaluate outcomes",
    href: "#{@base_url}/workload-reduction-toolkit/evaluate-workload-measures/structured-conversations-with-staff",
    tag:  "Evaluate workload measures",
    tag_colour: "green",
    details: {
      resource_type: "Template",
      reading_time: "1 minute",
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Update your workload action plan",
    href: "#{@base_url}/workload-reduction-toolkit/evaluate-workload-measures/update-your-workload-action-plan",
    tag:  "Evaluate workload measures",
    tag_colour: "green",
    details: {
      resource_type: "Example",
      reading_time: "1 minute",
      created_by: "Notre Dame High School (Secondary)",
    }
  )%>
</div>
