---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "feedback-and-marking")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Review and streamline feedback and marking",
    href: "##{@base_url}/workload-reduction-toolkit/address-workload-issues/feedback-and-marking/review-and-streamline-feedback-and-marking",
    tag:  "Feedback and marking",
    tag_colour: "purple",
    details: {
      resource_type: "Presentation"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Review marking practice with an impact matrix",
    href: "##{@base_url}/workload-reduction-toolkit/address-workload-issues/feedback-and-marking/review-marking-practice-with-an-impact-matrix",
    tag:  "Feedback and marking",
    tag_colour: "purple",
    details: {
      resource_type: "Template",
      reading_time: "1 minute",
      created_by: "City of Norwich School (Secondary)"
    }
  )%>

    <%= render('/partials/explore_resource_card.*',
    title: "Secondary school feedback policy",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/feedback-and-marking/secondary-school-feedback-policy",
    tag:  "Feedback and marking",
    tag_colour: "purple",
    details: {
      resource_type: "Example",
      reading_time: "2 minutes",
      created_by: "St Joseph’s RC High School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Improve how you give feedback to primary pupils",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/feedback-and-marking/improve-how-you-give-feedback-to-primary-pupils",
    tag:  "Feedback and marking",
    tag_colour: "purple",
    details: {
      resource_type: "Example",
      reading_time: "2 minutes",
      created_by: "Kensington Primary School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Give feedback and avoid marking in primary schools",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/feedback-and-marking/give-feedback-and-avoid-marking-in-primary-schools",
    tag:  "Feedback and marking",
    tag_colour: "purple",
    details: {
      resource_type: "Example",
      reading_time: "2 minutes",
      created_by: "Godmanchester Community Academy (Primary)"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Give feedback effectively without creating an unmanageable workload",
    href: "#{@base_url}/workload-reduction-toolkit/address-workload-issues/feedback-and-marking/give-feedback-effectively-without-creating-an-unmanageable-workload",
    tag:  "Feedback and marking",
    tag_colour: "purple",
    details: {
      resource_type: "Example",
      reading_time: "6 minutes",
      created_by: "Outwood Grange Academies Trust (Secondary)"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Try ideas to manage feedback and marking workload",
    href: "##{@base_url}/workload-reduction-toolkit/address-workload-issues/feedback-and-marking/try-ideas-to-manage-feedback-and-marking",
    tag:  "Feedback and marking",
    tag_colour: "purple",
    details: {
      resource_type: "Example",
      reading_time: "2 minutes",
      created_by: "King Charles I Secondary School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Cut down your marking workload",
    href: "#{@base_url}/wworkload-reduction-toolkit/address-workload-issues/feedback-and-marking/cut-down-your-marking-workload",
    tag:  "Feedback and marking",
    tag_colour: "purple",
    details: {
      resource_type: "Case study",
      reading_time: "3 minutes",
      created_by: "Barr Beacon School (Secondary)"
    }
  )%>
</div>
