---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "identify-workload-issues")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Identify issues using a staff workload survey",
    href: "#{@base_url}/workload-reduction-toolkit/identify-workload-issues/staff-workload-survey",
    tag:  "Identify workload issues",
    tag_colour: "pink",
    details: {
      resource_type: "Template"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Act on your staff workload survey",
    href: "#{@base_url}/workload-reduction-toolkit/identify-workload-issues/act-on-your-staff-workload-survey",
    tag:  "Identify workload issues",
    tag_colour: "pink",
    details: {
      resource_type: "Presentation"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Plan your yearly calendar",
    href: "#{@base_url}/workload-reduction-toolkit/identify-workload-issues/plan-your-yearly-calendar",
    tag:  "Identify workload issues",
    tag_colour: "pink",
    details: {
      resource_type: "Presentation"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Have structured conversations to identify issues",
    href: "#{@base_url}/workload-reduction-toolkit/identify-workload-issues/have-structured-conversations-to-identify-issues",
    tag:  "Identify workload issues",
    tag_colour: "pink",
    details: {
      resource_type: "Template",
      reading_time: "1 minute"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Use an INSET day to focus on reducing workload",
    href: "#{@base_url}/workload-reduction-toolkit/identify-workload-issues/use-an-inset-day-to-focus-on-reducing-workload",
    tag:  "Identify workload issues",
    tag_colour: "pink",
    details: {
      resource_type: "Case study",
      reading_time: "2 minutes",
      created_by: "Kensington Primary School"
    }
  )%>
</div>
