---
title: Explore resources
layout: /explore_resources.html.erb
---

<% content_for :topic_list do %>
  <%= render('/partials/topic_list.*', active: "staff-wellbeing")%>
<% end %>

<div class="explore-resource-card-group">
  <%= render('/partials/explore_resource_card.*',
    title: "Establish a wellbeing committee",
    href: "#{@base_url}/staff-wellbeing/establish-a-wellbeing-committee",
    tag:  "Wellbeing",
    details: {
      resource_type: "Example",
      reading_time: "3 minutes",
      created_by: "Notre Dame High School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Establishing a school workload group",
    href: "#",
    tag:  "Wellbeing",
    details: {
      resource_type: "Example",
      reading_time: "20 minutes",
      created_by: "Baylis Court School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "21 things we did to improve staff wellbeing",
    href: "#",
    tag:  "Wellbeing",
    details: {
      resource_type: "Case study",
      reading_time: "3 minutes",
      created_by: "King Charles I Secondary School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Prioritise wellbeing",
    href: "#",
    tag:  "Wellbeing",
    details: {
      resource_type: "Case study",
      reading_time: "11 minutes",
      created_by: "Bedford Academy"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Whole school approach to wellbeing",
    href: "#",
    tag:  "Wellbeing",
    details: {
      resource_type: "Case study",
      reading_time: "7 minutes",
      created_by: "Barr Beacon School"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Academy trust workload agreement",
    href: "#",
    tag:  "Wellbeing",
    details: {
      resource_type: "Example",
      reading_time: "6 minutes",
      created_by: "Academy Multi Academy Trust"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Wellbeing and Workload Charter",
    href: "#",
    tag:  "Wellbeing",
    details: {
      resource_type: "Example",
      reading_time: "11 minutes",
      created_by: "Bedford Academy"
    }
  )%>

  <%= render('/partials/explore_resource_card.*',
    title: "Wellbeing policy",
    href: "#",
    tag:  "Wellbeing",
    details: {
      resource_type: "Example",
      reading_time: "9 minutes",
      created_by: "The Pingle Academy"
    }
  )%>
</div>
