---
title: Review and streamline communications
---

<div class="govuk-main-wrapper">
  <div class="dfe-width-container govuk-grid-row two-column-page content-section--purple">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">Review and streamline communications</h1>

      <p class="govuk-!-margin-bottom-7">
        <strong class="govuk-tag">Presentation</strong>
      </p>
      
      <p>
        Use this presentation in a staff meeting or INSET day to review and
        streamline your internal and external communication processes.
      </p>

      <p>
        The presentation includes:
      </p>

      <ul>
        <li>
          background and context about managing communications
        </li>
        <li>
          a discussion to reflect on why we communicate and whether the
          processes should be updated, streamlined or stopped altogether
        </li>
        <li>
          a reflection on why we communicate
        </li>
        <li>
          a discussion on whether current communication processes should be
          updated, streamlined or stopped altogether
        </li>
      </ul>

      <div class="info-box">
        <div class="info-box__corner">
          <img src="/assets/images/download-icon.svg" alt="Download icon">
        </div>
        <h2 class="govuk-heading-m">
          Download the presentation
        </h2>
        <div class="govuk-grid-row info-box__download-content">
          <div class="govuk-grid-column-one-half">
            <img src="/assets/images/communications--review-and-streamline-communications.jpg" alt="Review and streamline communications" class="dfe-file-preview-image">
          </div>
          <div class="govuk-grid-column-one-half">
            <a class="govuk-body" href="<%= @base_url %>/assets/files/Review and streamline communications.pptx">
              Download Microsoft PowerPoint
            </a>
            <p>
              PPTX, 101KB, 6 slides
            </p>
            <a class="govuk-body" href="<%= @base_url %>/assets/files/Review and streamline communications.odp">
              Download OpenDocument Presentation
            </a>
            <p>
              ODP, 301KB, 6 slides
            </p>
          </div>
        </div>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-7">
        Audience
      </h2>

      <p>
        The presentation and facilitator notes will support senior leadership
        teams to run a staff meeting with the whole school, teams or
        departments.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
        Presentation length
      </h2>

      <p>
        The presentation should take 1 hour. You should also allocate time for
        the facilitator to prepare the session for use in your school.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
        How to run with your staff
      </h2>

      <p>
        You can run the exercises in a staff meeting or they can be completed
        individually or by teams ahead of the meeting.
      </p>

      <p>
        Supporting resources can be printed or shared digitally and they are
        editable. For example, you could adapt the table to suit the needs of
        the staff group, by populating the 'how' column or changing the 'who
        we communicate with' column. If the group is largely teachers, they
        could complete the table together to consider how, as teachers, they
        communicate with other staff, each other, parents or governors.
      </p>

      <p>
        You could address internal and external communications separately or
        choose one to focus on for this exercise.
      </p>

      <p>
        Senior leadership teams are likely to want to oversee the process.
        You could consider if it is more appropriate for another member of
        staff to facilitate the session and lead on follow-up. You could also
        consider asking somebody independent to facilitate the workshop to
        free up time to take part.
      </p>

      <p>
        Provide a supportive environment for open and honest professional
        dialogue.
      </p>

      <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-7">
        Supporting resources
      </h2>

      <ul class="resource-card-group">
        <%= render('/partials/resource_card_with_image.*', title: "How we communicate" ,
          body: "A template to help you explore how effective and efficient your communications are." ,
          image_url: "/assets/images/communications--how-we-communicate.jpg" ,
          tag: "Template" , download_links: [
            {
              href: "#{@base_url}/assets/files/Review_school_communications.docx",
              text: "Download Microsoft Word Document",
              details: "DOCX, 25KB, 1 page",
            },
            {
              href: "#{@base_url}/assets/files/Review_school_communications.odt",
              text: "Download OpenDocument Text",
              details: "ODP, 8KB, 1 page",
            },
          ]
        ) %>

        <%= render('/partials/resource_card_with_image.*', title: "Impact graph" ,
          body: "A template to help you prioritise what to address first." ,
          image_url: "/assets/images/communications--impact-graph.jpg" ,
          tag: "Template" , download_links: [
            {
              href: "#{@base_url}/assets/files/Impact graph.docx",
              text: "Download Microsoft Word Document",
              details: "DOCX, 31KB, 1 page",
            },
            {
              href: "#{@base_url}/assets/files/Impact graph.odt",
              text: "Download OpenDocument Text",
              details: "ODP, 6KB, 1 page",
            },
          ]
        ) %>
      </ul>

      <div class="govuk-!-margin-top-8">
        <%= render '/partials/share_this_resource.*' %>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <hr class="govuk-section-break--thick govuk-section-break-feedback">
      <%= render '/partials/feedback.*', colour: "purple" %>
    </div>
  </div>
</div>
